<div class="container">
  <div class="raw">
    <div *ngFor='let character of characters' class="col s6 m4">
      <div class="card horizontal" (click)="selectCharacter(character)" pkmn-shadow-card>
        <div class="card-image">
          <img height="150" [src]="character.thumbnail.path + '.' + character.thumbnail.extension">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>{{ character.name }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="!characters"></app-loader>


